<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>State:</strong>
  <%= @book.state %>
</p>

<p>
  <strong>Date loan:</strong>
  <%= @book.date_loan %>
</p>

<p>
  <strong>Date returned:</strong>
  <%= @book.date_returned %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
